@using WebApplicationThuPhi.Models
@model IEnumerable<ThuVien.Core.Models.SoLieuNhapLieu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div>
    @Html.Partial("_PartialThongKe", new ExportModel() { fromDate = DateTime.Now, toDate = DateTime.Now })
</div>
<div>
    <h3>Tổng tiền: <span>@Model.Sum(_ => _.SoTien).ToString("##,###")</span></h3>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaHD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDonVi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoTien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GhiChu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LoaiPhi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayNhap)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSanPham)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoTien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GhiChu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoaiPhi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNhap)
            </td>
            <td>
                @Html.ActionLink("Details", "Edit", "NhapLieu", new { id = item.Id }, null) |
                @Html.ActionLink("Delete", "Delete", "NhapLieu", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

<div>
    <h3>Tổng tiền: <span>@Model.Sum(_ => _.SoTien).ToString("##,###")</span></h3>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")
    <script>
        $(document).ready(function () {
            $('input[type=datetime]').datepicker({
                dateFormat: "mm/dd/yy"
            });

        });

    </script>
}
